
/* Generel styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../dishes/dish_101.jpg'); /* Absolut sti */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Hoved Overskrift styling */
.main-headline {
    position: absolute;
    left: 5%; /* Flytter teksten til venstre side */
    top: 45%; /* Placerer lidt under midten vertikalt */
    transform: translateY(-50%); /* Justerer kun vertikal positionering */
    color: #534f4f; /* Juster farven efter baggrunden */
    text-align: left; /* Juster teksten til venstre */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1; /* Sørger for, at overskriften er synlig */
    width: auto; /* Tilpasser bredden automatisk */
    max-width: 800px; /* Begrænser bredden på større skærme */
    line-height: 1.2; /* For bedre læsbarhed */
}

/* Responsiv styling */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-center {
        justify-content: flex-start;
        margin-top: 10px;
    }
    main {
        height: auto;
        padding: 20px 10px;
    }
    section {
        margin-top: 100px;
        padding: 1.5rem;
        max-width: 80%;
    }
}

/* Responsiv styling */
@media (max-width: 1024px) {
    .main-headline {
        font-size: 3rem; /* Reducér fontstørrelsen for tablets */
        left: 8%; /* Juster placeringen lidt tættere på venstre kant */
    }
}

@media (max-width: 768px) {
    section {
        margin-top: 100px;
        padding: 1.5rem;
        max-width: 80%;
    }
    .main-headline {
        font-size: 2.5rem; /* Reducér yderligere for mindre skærme */
        left: 5%; /* Mindre margin på små skærme */
        top: 50%; /* Juster vertikal placering for mindre skærme */
    }
}

@media (max-width: 480px) {
    .main-headline {
        font-size: 2rem; /* Mindre fontstørrelse for mobil */
        left: 5%; /* Hold teksten tæt på venstre kant */
        top: 50%; /* Juster vertikal placering */
        padding: 0 10px; /* Tilføj lidt indre afstand, hvis nødvendigt */
        max-width: 90%; /* Undgå at teksten går ud over kanten */
    }
}