<!-- Items Section -->
<section class="list-of-items-customer" id="items-list-customer">
    {% if restaurant_name %}
    <h2>All items from {{restaurant_name}} </h2>
    {% else %}
    <h2>All Items</h2>
    {% endif %}

    {% if items %}
    <div class="item-list">
        {% for item in items %}
            <article class="item-card">
                <img src="{{ url_for('static', filename='dishes/' + item['item_image']) if item['item_image'] else url_for('static', filename='images/image_15.jpg') }}" alt="{{ item['item_title'] }}" class="card-img"/>
                <div class="card-content">
                    <h3 class="card-title">{{ item['item_title'] if item['item_title'] else 'No title available' }}</h3>
                    <p class="card-price">{{ item['item_price'] if item['item_price'] else 'N/A' }} kr.</p>
                    <button type="submit" class="buy">Buy this dish</button>
                </div>
            </article>
        {% endfor %}
    </div>
    {% else %}
        <p>No items found.</p>
    {% endif %}
</section>