    <header>
        <div class="header-logo-ctn">
            <img src="../static/images/SPIS.svg" class="logo">
        </div>
        <form id="search-form">
            <input id="search-query" type="text" class="search-input" placeholder="Search for items...">
            <div id="search-results" class="search-results-dropdown"></div>
        </form>
        
        
        <button class="burger-menu-btn" aria-label="Toggle Menu">☰</button>
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('edit_profile') }}" class="btn">Edit Profile</a></li>
                <li><a href="{{ url_for('edit_profile') }}" class="btn">Browse</a></li>
                <li>
                    <form method="POST" action="{{ url_for('logout') }}">
                        <button type="submit" class="btn">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
