
    <header>
        <div class="header-logo-ctn">
            <img src="../static/images/SPIS.svg" class="logo">
        </div>
        <button class="burger-menu-btn" aria-label="Toggle Menu">☰</button>
        <nav class="menu">
            <ul>
                <li>
                    <a href="{{ url_for('view_signup') }}" button id="signup-btn" class="btn signup">Tilmeld dig</button></a>
                </li>
                    <a href="{{ url_for('view_login') }}" button id="login-btn" class="btn login">Log ind</button></a>
                </a>
            </ul>
        </nav>
    </header>