    <header>
        <div class="header-logo-ctn">
            <h1>SPIS</h1>
        </div>
        <input class="search-input" type="text" placeholder="Search">
        <button class="burger-menu-btn" aria-label="Toggle Menu">☰</button>
        <nav class="menu">
            <ul>
                <li>
                    <button id="signup-btn" class="btn signup">Tilmeld dig</button>
                    
                </li>
                <li>
                    <button id="login-btn" class="btn login">Log ind</button>
                </li>
            </ul>
        </nav>
    </header>