<section class="item-list">
  {% if items %}
  <div class="item-list">
  {% for item in items %}
      <article class="item-card">
          <!-- Access the image -->
      <img src="../static/dishes/{{ item['item_image'] if item['item_image'] else '../static/images/image_15.jpg' }}" alt="{{ item['item_title'] }}" class="card-img">
          


          <div class="card-content">
              <!-- Access the title -->
              <h3 class="card-title">{{ item['item_title'] if item['item_title'] else 'No title available' }}</h3>
              
              <!-- Access the price -->
              <p class="card-price">{{ item['item_price'] if item['item_price'] else 'N/A' }} kr.</p>

              <button class="delete-item">Delete</button> <!--VIRKER IKKE ENDNU! -->
          </div>
      </article>
  {% endfor %}
  </div>
{% else %}
  <p>No items found.</p>
{% endif %}
</section>