<!-- templates/delete_profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}">
    <script src="{{ url_for('static', filename='header.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
{% include "_header_logged-in.html" %}

<main class="delete-profile-main">
  <h1>Delete profile</h1>
  <form
    id="frm_delete_profile"
    class="delete-profile-form"
    method="post"
    action="{{ url_for('request_delete_profile') }}"
  >
    <div class="">
      <label for="user_password">
        <span>Enter your password to confirm deletion:</span>
      </label>
      <input
        name="user_password"
        type="password"
        mix-check="{{ x.REGEX_USER_PASSWORD }}"
        required
      />
    </div>

    <div class="alert alert-warning">
      <strong>Warning!</strong> Deleting your profile is irreversible. All your
      data will be permanently removed.
    </div>

    <div class="options-edit">
      <a href="{{ url_for('view_partner') }}" class="btn btn-secondary"
      >Cancel</a
    >
      <button
        type="button"
        mix-post="/request_delete_profile"
        mix-data="#frm_delete_profile"
        class="delete-btn btn-danger"
      >
        Delete Profile
      </button>
    </div>
  </form>
</main>
{% include "_bottom.html" %}
