<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}">
    <script src="{{ url_for('static', filename='header.js') }}"></script>
    <title>Edit profile</title>
</head>
<body>
{% include "_header_logged-in.html" %}


<main class="edit-profile-main">
<section class="">
    <h1>Edit Profile</h1>
    <form
      id="frm_edit_profile"
      class=""
      method="post"
      action="{{ url_for('edit_profile') }}"
    >
      <div class="input-field">
        <label for="user_name">
          <span>Name</span>
        </label>
        <input
          name="user_name"
          type="text"
          mix-check="{{ x.USER_NAME_REGEX }}"
          value="{{ user.user_name }}"
          required
        />
      </div>
  
      <div class="input-field">
        <label for="user_last_name">
          <span>Last Name</span>
        </label>
        <input
          name="user_last_name"
          type="text"
          mix-check="{{ x.USER_LAST_NAME_REGEX }}"
          value="{{ user.user_last_name }}"
          required
        />
      </div>
  
      <div class="input-field">
        <label for="user_email">
          <span>Email</span>
        </label>
        <input
          name="user_email"
          type="email"
          mix-check="{{ x.REGEX_EMAIL }}"
          value="{{ user.user_email }}"
          required
        />
      </div>
        <button type="submit" class="save-btn">Save Changes</button>
<div id="options-edit">
          <a href="{{ url_for('view_partner') }}" class="btn btn-secondary"
            >Cancel</a
          >
          <a href="{{ url_for('view_delete_profile') }}" class="btn btn-danger delete-btn"
            >Delete Profile</a
          >
</div>
    </form>
</section>
</main>

{% include "_bottom.html" %}
