<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/forgot_password.css') }}">
    <script src="{{ url_for('static', filename='header.js') }}"></script>
    <title>Forgot password</title>
</head>
<body>

{% include "_header_logged-out.html" %}
<main class="forgot-password">
<section>
    <h1>Forgot Password</h1>
    <form id="frm_forgot_password">
      <div class="form-group">
        <label for="user_email">
          <span>Email</span>
        </label>
        <input
          name="user_email"
          type="email"
          mix-check="{{ x.REGEX_EMAIL }}"
          required
          placeholder="Enter your email"
        />
      </div>
  
      <div class="form-actions">
        <button
          mix-post="/request_forgot_password"
          mix-data="#frm_forgot_password"
          class="forgot-password-submit"
        >
          Submit
        </button>
      </div>
      <a href="{{ url_for('view_login') }}" class="login-link">Go back to login</a>
    </form>
</section>
</main>
{% include "_bottom.html" %}
