<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
    <script src="{{ url_for('static', filename='header.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    <title>Login and Signup</title>
</head>
<body>
    {% include "_header_logged-out.html" %}
    <div id="overlay"></div>
    
    <main class="">
        <h2 id="main-headline" class="main-headline">Middag til hele familien<br>bragt til dig</h2>
    </main>
</body>
</html>