{% include "_top_logged.html" %}

<head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/admin.css') }}"
    />
</head>

<section class="users-list">
    <h1>All users</h1>
    {% if users %}
        {% for user in users %}
            <ul class="individual-user">
                <li><strong>Name:</strong> {{ user['user_name'] }}</li>
                <li><strong>Last Name:</strong> {{ user['user_last_name'] }}</li>
                <li><strong>Email:</strong> {{ user['user_email'] }}</li>
                <li><strong>Deleted At:</strong> {{ user['user_deleted_at'] }}</li>
                <li><strong>Blocked At:</strong> {{ user['user_blocked_at'] }}</li>
                <li><strong>Verified At:</strong> {{ user['user_verified_at'] }}</li>
                <form action="/admin/user-list/block" method="post">
                    <input type="hidden" name="user_pk" value="{{ user['user_pk'] }}">
                    {% if user['user_blocked_at'] == 0 %}
                        <input type="hidden" name="action" value="block">
                        <button type="submit">Block</button>
                    {% else %}
                        <input type="hidden" name="action" value="unblock">
                        <button type="submit">Unblock</button>
                    {% endif %}
                </form>
            </ul>
        {% endfor %}
    {% else %}
        <p>No users found</p>
    {% endif %}
</section>



<section class="item-list">
    <h1>All items</h1>
    {% if items %}
    <div class="item-list">
    {% for item in items %}
        <article class="item-card">
            <!-- Access the image -->
        <img src="../static/dishes/{{ item['item_image'] if item['item_image'] else './images/image_15.jpg' }}" alt="{{ item['item_title'] }}" class="card-img">
            


            <div class="card-content">
                <!-- Access the title -->
                <h3 class="card-title">{{ item['item_title'] if item['item_title'] else 'No title available' }}</h3>
                
                <!-- Access the price -->
                <p class="card-price">{{ item['item_price'] if item['item_price'] else 'N/A' }} kr.</p>
            </div>
        </article>
    {% endfor %}
    </div>
{% else %}
    <p>No items found.</p>
{% endif %}


</section>

</body>
</html>
