{% include "_top_logged.html" %}

<head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/admin.css') }}"
    />
</head>


 <section class="users-list">
    <!-- Debugging: Print the entire users object -->
    
    {% if users %}
        {% for user in users %}
            <!-- Accessing the individual user fields correctly -->
            <h1>{{ user['user_pk'] }}</h1>
            <p>{{ user['user_name'] }}</p>
        {% endfor %}
    {% else %}
        <p>No users found</p>
    {% endif %}
</section>
   
 
 
 
<!-- <div> {{ user_list }} </div> -->

<section class="item-list">
    <h1>Item List</h1>
    {% if items %}
    <div class="item-list">
    {% for item in items %}
        <article class="item-card">
            <!-- Access the image -->
            <img src="{{ item['item_image'] if item['item_image'] else './images/image_15.jpg' }}" alt="{{ item['item_title'] }}" class="card-img">
            
            <div class="card-content">
                <!-- Access the title -->
                <h3 class="card-title">{{ item['item_title'] if item['item_title'] else 'No title available' }}</h3>
                
                <!-- Access the price -->
                <p class="card-price">{{ item['item_price'] if item['item_price'] else 'N/A' }} kr.</p>
            </div>
        </article>
    {% endfor %}
    </div>
{% else %}
    <p>No items found.</p>
{% endif %}


</section>

</body>
</html>
