<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer.css') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{{ url_for('static', filename='map.js') }}" defer></script>
    <script src="{{ url_for('static', filename='search.js') }}" defer></script>
    <script src="{{ url_for('static', filename='header.js') }}" defer></script>
    <title>Explore</title>
</head>
<body>
    {% include "_header_logged-in.html" %}
 
    <main class="customer-main">
        <div class="map-and-list">            
            <!-- Map container -->
            <section class="map-of-restaurants-customer" id="restaurant-list">
                <div class="map" id="map"></div>
            </section>
 
            <!-- List of Restaurants -->
            <section class="list-of-restaurants-customer">
                <h2>All Restaurants</h2>
                
                <input type="text" id="search-restaurants" placeholder="Search for restaurants">
                <div id="restaurant-results" class="search-results"></div>
 
                <div class="restaurant-list-container">
                    <ul id="restaurant-list">
                        {% for restaurant in restaurants %}
                        <li>
                            <a href="/customer/items/{{ restaurant.user_pk }}">
                                {{ restaurant['user_name'] }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
 


    {% if items %}
        {% include "view_item_list.html" %}
    {% else %}
        {% include "view_user_list.html" %}
    {% endif %}
     
    </main>
 
    {% include "_bottom.html" %}
</body>
</html>