<section class="item-section-admin">
    <h1>All items</h1>
    
    <div class="page-btn-ctn">
        {% if page_id > 1 %}
        <form action="{{ url_for('adminShowItemList', page_id=page_id - 1) }}" method="get">
            <button type="submit">Previous Page</button>
        </form>
        {% endif %}
 
        <p name="page_id">Currently on Page: {{ page_id }}</p>
 
        <form action="{{ url_for('adminShowItemList', page_id=page_id + 1) }}" method="get">
            <button type="submit">Next Page</button>
        </form>
    </div>
    
    {% if items %}
    <div class="item-list">
    {% for item in items %}
        <article class="item-card" data-item-pk="{{ item['item_pk'] }}">
            <!-- Access the image -->
            <img src="{{ url_for('static', filename='dishes/' + (item['item_image'] if item['item_image'] else 'images/image_15.jpg')) }}" alt="{{ item['item_title'] }}" class="card-img">
            <div class="card-content">
 
                <div>
                    <!-- Access the title -->
                    <h3 class="card-title">{{ item['item_title'] if item['item_title'] else 'No title available' }}</h3>
                    
                    <!-- Access the price -->
                    <p class="card-price">{{ item['item_price'] if item['item_price'] else 'N/A' }} kr.</p>
                </div>
                
 
            {% if item['item_blocked_at'] == 0 %}
                {% include "___btn_block_item.html" %}
            {% else %}
                {% include "___btn_unblock_item.html" %}
            {% endif %}
            
 
 
 
 
            </div>
        </article>
    {% endfor %}
    </div>
{% else %}
    <p>No items found.</p>
{% endif %}
</section>