<section class="item-section-admin">

    {% if "customer" in user['roles'] and restaurant_name %}
        <h1 class="items-heading">All items from - {{ restaurant_name }}</h1>
    {% else %}
        <h1 class="items-heading">All items</h1>
    {% endif %}

    <div class="page-btn-ctn">

        {% if "admin" in user['roles'] %}
            {% if page_id > 1 %}
            <form action="{{ url_for('adminShowItemList', page_id=page_id - 1) }}" method="get">
                <button type="submit">Previous Page</button>
            </form>
            {% endif %}


            <p name="page_id">Currently on Page: {{ page_id }}</p>
    
            <form action="{{ url_for('adminShowItemList', page_id=page_id + 1) }}" method="get">
                <button type="submit">Next Page</button>
            </form>
        

        {% else %}
            {% if not restaurant_name %}
                {% if page_id > 1 %}
                <form action="{{ url_for('view_customer_page', page_id=page_id - 1) }}" method="get">
                    <button type="submit">Previous Page</button>
                </form>
                {% endif %}
        
                <p name="page_id">Currently on Page: {{ page_id }}</p>
        
                <form action="{{ url_for('view_customer_page', page_id=page_id + 1) }}" method="get">
                    <button type="submit">Next Page</button>
                </form>
            {% endif %}
        {% endif %}


    </div>


    {% if user['roles'] == "customer" %}
        <div class="items-search">
            <input type="text" id="search-items" placeholder="Search for items">
            <div id="item-results" class="search-results"></div>
        </div>
    {% endif %}



    {% if items %}
    <div class="item-list">
    {% for item in items %}
        <article class="item-card" data-item-pk="{{ item['item_pk'] }}">
            <!-- Access the image -->
            <img src="{{ url_for('static', filename='dishes/' + (item['item_image'] if item['item_image'] else 'images/image_15.jpg')) }}" alt="{{ item['item_title'] }}" class="card-img">
            <div class="card-content">
 
                <div>
                    <!-- Access the title -->
                    <h3 class="card-title">{{ item['item_title'] if item['item_title'] else 'No title available' }}</h3>
                    
                    <!-- Access the price -->
                    <p class="card-price">{{ item['item_price'] if item['item_price'] else 'N/A' }} kr.</p>
                </div>
                
 

            {% if "admin" in user['roles'] %}
                {% if item['item_blocked_at'] == 0 %}
                    {% include "___btn_block_item.html" %}
                {% else %}
                    {% include "___btn_unblock_item.html" %}
                {% endif %}
            {% else %}
                <button type="submit" class="buy" id="buy">Add to cart</button>
            {% endif %}
 
 
 
 
            </div>
        </article>
    {% endfor %}
    </div>
{% else %}
    <p>No items found.</p>
{% endif %}
</section>