<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/forgot_password.css') }}">
    <script src="{{ url_for('static', filename='header.js') }}"></script>
    <title>Forgot password</title>
</head>
<body>

{% include "_header-logged-out.html" %}

<div checked="headline">
  <h1>Forgot Password</h1>
</div>

<main class="w-full h-100vh d-flex p-items-center">
  <form id="frm_forgot_password" class="w-25% d-flex flex-col gap-4 mx-auto">
    <div class="d-flex flex-col">
      <label for="user_email">
        <span>Email</span>
      </label>
      <input
        name="user_email"
        type="email"
        mix-check="{{ x.REGEX_EMAIL }}"
        required
      />
    </div>

    <div>
      <button
        mix-post="/request_forgot_password"
        mix-data="#frm_forgot_password"
      >
        Forgot Password
      </button>

      <a href="{{ url_for('view_login') }}" class="text-a-center">Login</a>
    </div>
  </form>

</main>

{% include "_bottom.html" %}
